.button {
  display: block;
  width: 10em;
}

.buttons-grid {
  display: inline-block;
}

.text {
  margin-top: 1em;
  padding: 4em;
  text-indent: 2em;
}

.text-quote {
  margin: auto;
  text-align: center;
  width: 80%;
}

.text-title {
  text-align: center;
}

#buttons-container {
  text-align: center;
}

#text-container {
  margin: auto;
  margin-top: 2em;
  width: 90%;
}
