body {
  background-image: linear-gradient(to right, rgb(234, 237, 240), rgb(255, 255, 255));
}

form {
  background-color: white;
  border: 1px solid #4a4a4a;
  box-shadow: 1px 1px 5px black;
  margin: 0 auto;
  max-width: 1000px;
  width: 80%;
}
