h1 {
  font-family: sans-serif;
}

p {
  font-weight: 600;
  font-size: 3em;
  font-style: italic;
  line-height: 1.2em;
  text-align: center;
  text-decoration: burlywood;
}

body {
  font-size: 16px;
}

.bg-yellow {
  background-color: yellow;
}

.bg-red {
  background-color: red;
}

.bg-brown {
  background-color: brown;
}
